.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 13px;
    text-decoration: none !important;
    list-style-type: none;
}
.navbar-brand{
    font-size: 13px;
}

a{
    box-shadow: none;
    text-decoration: none;
    list-style-type: none;
}
.dropdown-menu {
    font-size: 13px;
    left: -142px !important;
}

.dropdown-toggle , .nav-link {
    color: white !important;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align:left;
    white-space: nowrap;
    background-color: transparent;
    text-decoration: none;
    border: 0;
}
.breadcrumb {
    width: 122%;
    margin-left: -121px;
    background-color: #404040;
    color: white;
    height: 50px;
    border-radius: 0rem;
}

@media  screen and (max-width:768px) {  
        .breadcrumb {
            width:100% !important ;
        }  
}
.breadcrumb-item.active {
    color: white;
    font-size: 15px;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "";
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 15rem !important;
    padding: -0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.9rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}